{% extends 'layout.html.twig' %}

{% block body %}
    <h2>{{ 'Show'|trans({}, 'post') }} {{ post.getName()|trans({}, 'psot') }}</h2>
    <div class="row">
        <div class="col-4">
            {{ post.getPublishedAt()|date('Y-m-d') }},
            <a href="{{ path('post_edit', { post: post.getId() }) }}">{{ 'Edit'|trans({}, 'post') }}</a>
            <a href="{{ path('post_delete', { post: post.getId() }) }}" onclick="return confirm('{{ 'Are you sure?'|trans({}, 'post') }}')">[X]</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ post.getDescription()|trans({}, 'post') }}
        </div>
    </div>
{% endblock %}